.test-preloader {
  h1{
    font-size: 55px;
    font-family: 'Oswald', sans-serif;
    text-align: center;

    @include respond-below(m){
      font-size: 30px;
    }
  }

  &-block__img {
    margin: 30px auto 0;
    width: 290px;
    height: 170px;
    background-image: url('/images/0.jpg');
    background-size: cover;
    background-position: center;

    @include respond-below(m){
      margin-top: 15px;
    }
  }

  &-block__toggle-button-wrapper{
    text-align: center;

    .test-preloader-block__toggle-button{
      margin-top: 15px;
      display: inline-block;
      transition: 0.25s;
    }
  }
}